/* Base styles and color variables */
:root {
    --primary-color: #0056b3;
    --secondary-color: #f0ad4e;
    --dark-space-blue: #00001A;
    --gunmetal: #5E607A;
    --yellow: #E9AA52;
    --almost-white: #FFFDFA;
    --silver: #C5C6CE;
}

/* Universal Box Sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Container Block */
.container {
    width: 90%;
    margin: auto;
}

/* Navbar Block */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    background-color: #fff;
    z-index: 30;
    position: relative;
}

.navbar__logo img {
    height: auto;
}

.navbar__hamburger-icon {
    cursor: pointer;
}

/* Mobile Navigation Block */
.mobile-nav {
    position: fixed;
    top: 0;
    right: -70%; /* Initially hidden off-screen on the right */
    height: 100vh;
    width: 70%;
    background-color: #ffffff;
    color: #000;
    z-index: 50;
    transition: transform 0.3s ease-in-out; /* Smooth slide animation */
    transform: translateX(100%); /* Fully hidden */
}

.mobile-nav--active {
    transform: translateX(-100%); /* Slide into view */
    height: 100vh;
    position: fixed;
}

.mobile-nav__menu-icon {
    display: flex;
    justify-content: flex-end;
    padding: 28px 16px;
}

.mobile-nav__menu {
    list-style: none;
    padding: 0;
    display: none;
    text-align: left;
    height: 100%;
    background-color: #ffffff;
    margin: 0;
}

.mobile-nav--active .mobile-nav__menu {
    display: block;
}

.nav__menu-item a {
    padding: 16px 24px;
    color: var(--dark-space-blue);
    text-decoration: none;
    font-size: 18px;
    display: block;
    line-height: 24px;
    font-weight: normal;
}

.mobile-nav__menu--active {
    display: block;
    position: relative;
    width: 100%;
    top: 84px;
    left: 0;
}

.mobile-nav__close-icon {
    display: none;
    cursor: pointer;
}

.mobile-nav--active .mobile-nav__close-icon {
    display: block;
}

.mobile-nav__close-icon--active {
    display: block;
}

.mobile-nav__overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 26, 0.5);
    z-index: 40;
    top: 0;
    left: 0;
    opacity: 0; /* Start transparent */
    transition: opacity 0.3s ease-in-out; /* Smooth fade animation */
}

.mobile-nav--active + .mobile-nav__overlay {
    display: block;
    opacity: 1;
}

/*Navbar Desktop*/
.navbar__desktop {
    display: none;
}

/*HERO AND NEWS BLOCKS*/
.hero-and-news {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

/* Block: property-insights */
.property-insights {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

/* Element: property-insights__banner */
.property-insights__banner {
    /* Container styling for the banner */
}

/* Element: property-insights__image */
.property-insights__image {
    background-image: url('../assets/images/hero-banner-mobile.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

/* Element: property-insights__content */
.property-insights__content {
    /* Styling for the content container */
}

/* Element: property-insights__title */
.property-insights__title {
    font-size: 40px;
    font-weight: 800;
    color: var(--dark-space-blue);
    margin-bottom: 16px;
    line-height: 40px;
    margin-top: 0;
}

/* Element: property-insights__description */
.property-insights__description {
    font-size: 15px;
    color: var(--gunmetal);
    line-height: 26px;
    font-weight: 400;
}

/* NEWS Block */
.news {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-space-blue);
    padding: 24px;
    margin-bottom: 64px;
    flex-grow: 1;
}

.news__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--yellow);
    margin: 0 0 30px;
}

.news__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.news__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
}

.news__item:not(:last-child) {
    border-bottom: 1px solid var(--gunmetal); /* Add border to all except the last */
}

.news__item-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    color: var(--almost-white);
    margin: 0 0 8px;
}

.news__item-description {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--silver);
    margin: 0;
}

/* CITIES INSIGHTS BLOCK */
/* Block: cities-insights */
.cities-insights {
    /* Container for the entire section */
}

/* Element: cities-insights__list */
.cities-insights__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Element: cities-insights__item */
.cities-insights__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    flex-grow: 1;
}

.national-overview {
    width: 100%;
}

.national-overview img {
    height: 324px;
    object-position: 0 72%;
}
/* Element: cities-insights__icon */
.cities-insights__icon {
    width: 18px;
    height: 18px;
    border: 1px solid var(--gunmetal);
    border-radius: 50%;
    display: inline-block;
    font-size: 10px;
    text-align: center;
}

/* Element: cities-insights__title */
.cities-insights__title {
    font-size: 16px;
    color: var(--gunmetal);
    font-weight: normal;
    margin: 0;
}

/* Element: cities-insights__image */
.cities-insights__image {
    object-fit: cover;
    height: 248px;
    width: 100%;
}

.cities-insights__prices {
    display: flex;
    flex-direction: column;
}

/* Element: cities-insights__price */
.cities-insights__price {
    font-size: 20px;
    color: var(--dark-space-blue);
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.cities-insights__price:hover {
    text-decoration: underline;
}

.cities-insights__arrow {
    display: none;
}

.cities-insights__price:hover .cities-insights__arrow {
    display: inline-block;
    text-decoration: underline;
}

/* Element: cities-insights__description */
.cities-insights__description {
    font-size: 14px;
    color: var(--gunmetal);
    font-weight: 600;
    margin: 0;
}
.cities-insights__description span {
    color: darkgreen;
}

/* Media Queries */
@media (min-width: 576px) {
    .container {
        width: 85%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 75%;
    }

    .navbar__hamburger-icon, .mobile-nav, .mobile-nav__overlay {
        display: none !important;
    }

    .navbar__desktop {
        display: block;
    }

    .navbar__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .nav__menu-item a {
        padding: 16px 20px;
        font-weight: 400;
        font-size: 15px;
        color: var(--gunmetal);
    }

    .hero-and-news {
        flex-direction: row;
        gap: 30px;
    }

    .property-insights {
        gap: 30px;
        width: 700px;
        flex-shrink: 0;
    }

    .property-insights__image {
        background-image: url('../assets/images/hero-banner-desktop.jpg');
    }

    .cities-insights__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cities-insights__item {
        width: 20%;
    }

    .national-overview {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}
